@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100;200;400;500&display=swap');

* {
  outline: none;
  box-sizing: border-box;
  text-decoration: none;
}

body {
  font-family: 'Josefin Sans', sans-serif;
  min-height: 100vh;
  padding: 0;
  margin: 0;
  background-color: var(--bg-light);
  color: var(--text-primary);
  line-height: 1;
}

ol, ul {
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
}

:root {
  --primary: #270EB7;
  --secondary: rgba(51,51,51, .6);
  --text-primary: rgba(51,51,51,1);
  --text-secondary: rgba(51,51,51,0.7);
  --bg-light: #F5F5FA;
  --green: #3DD598;
  --red: #FF565E;
}

.container {
  margin: 1rem 5rem;
}

.box-container-300 {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 1rem;
}

.box {
  background-color: white;
  padding: 1rem;
  border-radius: .5rem;
}

.active-box {
  box-shadow: -1px 1px 9px 6px #4b5fd22b;
  border: transparent 1px solid!important;
}

hr { border: 1px solid #C6CBD4;
background-color: #C6CBD4}

.navbar {
  background-color:  white ;
  padding: 8px 2rem;
}

.footer {
  background-color: var(--primary);
  font-weight: lighter;
  text-align: center;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  color: white;
}

.badge {
  width: 2rem;
  padding: 0 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 40%;
  font-weight: normal;
  color: white;
  background-color: var(--blue);
  margin-bottom: 0.3rem;
}

.custom-label {
  width: 100%;
  display: flex;
  justify-content: space-between;
  font-size: 1rem;
  font-weight: 400;
  margin-bottom: 0.3rem;
}

/* BUTTON --------------- */

.btn {
  border: none;
  border-radius: .5rem;
  font-weight: 400;
  cursor: pointer;
  transition: transform .3s ease;
  padding: .5rem;
  margin-bottom: .2rem;
  font-family: inherit;
}

.btn:hover {
  transform: translateY(-1px);
  opacity: .9;
}

.btn-primary {
  background-color: var(--primary);
  color: white;
}

/* TEAM MEMBER  --------------- */

.member-container {
  background-color: #f5f5fa;
  border-radius: .5rem;
}


/* EDITBOX --------------- */
.editbox {
  margin-bottom: 1rem;
}
.editbox textarea {
  font-family: inherit;
}

.editbox .edit-action {
  text-decoration: underline;
  font-size: 1rem;
  font-weight: normal;
}

.editbox .editbox-textarea {
  outline: none;
  border: none;
  color: var(--text-secondary);
  width: 100%;
  resize: none;
  background-color: transparent;
  border: 1px solid #C6CBD4;
  border-radius: .5rem;
  padding: 1rem;
  transition: .2s;
}

.editbox .editbox-textarea:hover{ border: #9090cc .5px solid;}

.editbox .editbox-textarea:focus,
:active,
:visited {
  outline: none;
}

.editbox .text-edit {
  color: var(--text-secondary);
  background-color: transparent;
  font-weight: normal;
}

.editbox .edit-bottom { transform: translate(-.5rem, -1rem);}

/* CUSTOM INPUT--------------- */

.custom-input input {
  border: 1px solid #C6CBD4;
  border-radius: .5rem;
  padding: .5rem;
  font-family: inherit;
  color: var(--text-secondary);
  transition: .2s;
}

.custom-input input:hover{ border: #9090cc .5px solid;}

/* SELECT-BOX -------------- */

select::-ms-expand {
  display: none;
}
select {
  color: var(--text-secondary);
  display: inline-block;
  box-sizing: border-box;
  padding: 0.5em 2em 0.5em 0.5em;
  border: 1px solid #eee;
  font: inherit;
  line-height: inherit;
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  appearance: none;
  background-repeat: no-repeat;
  background-image: linear-gradient(45deg, transparent 50%, currentColor 50%), linear-gradient(135deg, currentColor 50%, transparent 50%);
  background-position: right 15px top 1em, right 10px top 1em;
  background-size: 5px 5px, 5px 5px;
}

.select-box .custom-select{
  width: 100%;
  background: #f5f5fa;
  border: none;
  border-radius: .5rem;
  padding: .5rem;
}

.select-box .custom-select:hover{ border: #9090cc .5px solid;}

/* RADIO BUTTON--------------*/

.radio-button label {
  display: flex;
  cursor: pointer;
  font-weight: 500;
  position: relative;
  overflow: hidden;
  margin-bottom: 0.375em;
}
.radio-button label input {
  position: absolute;
  left: -9999px;
}
.radio-button label input:checked + span {
  background-color: #e7ecf3;;
}
.radio-button label input:checked + span:before {
  box-shadow: inset 0 0 0 0.4375em #260eb7;
}
.radio-button label span {
  display: flex;
  align-items: center;
  padding: 0.375em 0.75em 0.375em 0.375em;
  border-radius: 99em;
  transition: 0.25s ease;
}
.radio-button label span:hover {
  background-color: #d6d6e5;
}
.radio-button label span:before {
  display: flex;
  flex-shrink: 0;
  content: "";
  background-color: #fff;
  width: 1.5em;
  height: 1.5em;
  border-radius: 50%;
  margin-right: 0.375em;
  transition: 0.25s ease;
  box-shadow: inset 0 0 0 0.125em #cbd8ec;
}

/* SING-IN -------------- */

.sign-in {
  width: 320px;
  margin-top: 10%;
}

/* MEDIA QUERIES START--------------- */
@media (max-width: 1200px) {
  .container {
    margin: 1rem;
  }
}

@media (max-width: 992px) {
}

@media (max-width: 768px) {
}

@media (max-width: 576px) {
  .container {
    margin: .5rem;
  }
}

